.homepage-container {
    position: relative;
    min-height: 100vh;
}

.homepage-contentWrap {
    padding-bottom: 15rem;
}

.pagination {
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #3f6ad8;
}

.pagination .page-item.active .page-link {
    background-color: #3f6ad8;
    color: white;
}

.pagination .page-item.disabled .page-link {
    color: lightgray;
}

/* SEARCH SECTION */
.searchBar > button {
    background-color: #3f6ad8;
    color: white;
}

.searchBar-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    height: 31px;
    overflow: hidden;
}

.searchBar-container > form {
    display: flex;
    align-items: center;
}

.searchBar-container select {
    height: 31px;
}
