{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block content %}
	<h1>Articles</h1>
	<div class="searchBar-container">
		<form action="{{ path('admin_filters') }}">
			<select name="filter" id="filter">
				<option value="news">Récent -> Ancien</option>
				<option value="old">Ancien -> Récent</option>
				<option value="a-z">A-Z</option>
				<option value="z-a">Z-A</option>
				<option value="authorUp">Auteur ↑</option>
				<option value="authorDown">Auteur ↓</option>
			</select>
			<button class="btn btn-projectBackgroundColor btn--noRadius">Filtrer</button>
		</form>
	</div>
	<div>
		<form id="formCheckbox" class="article-form" method="POST">

			<a class="btn btn-light" href="{{ path('admin_article_new') }}">Créer un nouvel article</a>
			<button id="button" class="btn btn-danger" onclick="actionFormCheckBox('delete', '{{ path('admin_article_delete') }}')">Supprimer un ou des articles</button>
			{% for article in articles %}
				<div class="article-group">
					<div class="article-group">
						<div>
							<input class="checkbox-hidden article-input" type="checkbox" name="idCheck[]" value={{ article.id }}>
							<label class="checkbox-label"></label>
						</div>
						<div>{% include '_article_small.html.twig' with {'article': article, 'forAdmin': true} %}</div>
					</div>
				</div>
			{% endfor %}
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function actionFormCheckBox(action, url) {
$('#formCheckbox').attr('action', url);
$('#formCheckbox').submit();
}
	</script>
{% endblock %}
