{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block content %}

	<h1>Commentaires</h1>
	<div class="searchBar-container">
		<form action="{{ path('admin_filtersCom') }}">
			<select name="filter" id="filter">
				<option value="news">+ Ancien</option>
				<option value="old">+ Récent</option>
				<option value="a-z">A-Z</option>
				<option value="z-a">Z-A</option>
				<option value="authorUp">Auteur ↑</option>
				<option value="authorDown">Auteur ↓</option>
			</select>
			<button class="btn btn-projectBackgroundColor btn--noRadius">Filtrer</button>
		</form>
	</div>
	<div class="comments-adminBtn">
		{% if comments|length < 1 %}
			Vous n'avez pas encore de commentaire sur votre blog.
		{% endif %}

		{% if comments|length > 0 %}
			<button id="button" class="btn btn-danger" onclick="actionFormCheckBox('delete', '{{ path('admin_comment_delete') }}')">Supprimer</button>
			<button id="button" class="btn btn-primary middle-button" onclick="actionFormCheckBox('approved', '{{ path('admin_comment_privacy', {'privacy': 'approved'}) }}')">Approuver</button>
			<button id="button" class="btn btn-warning" onclick="actionFormCheckBox('unapproved', '{{ path('admin_comment_privacy', {'privacy': 'unapproved'}) }}')">Non-approuver</button>
		{% endif %}
	</div>

	<form id="formCheckbox" method="POST">
		<ul class="comments-adminList">
			{% for comment in comments %}
				<li class="comment-list row">
					<div class="col-1">
						<input class="checkbox-hidden" type="checkbox" name="idCheck[]" value={{ comment.id }}>
						<label class="checkbox-label"></label>
					</div>

					<div class="article-commentaire col-11">
						<div class="article-commentaire_text">
							<div class="commentaire-admin_titre">
								<div>
									{# {{comment.article.title}} #}
									<a class="navbar-brand" href="{{ path('article', { 'id': comment.article.id }) }}">{{comment.article.title}}</a>
								</div>
								<div>
									{{comment.creationDate|date}}
								</div>
							</div>
							<div>
								{{comment.content}}
							</div>
						</div>
						<div class="article-commentaire_info">
							<div>
								{{comment.user.firstName}}
							</div>
							<div>
								{{comment.user.lastName}}
							</div>
							<div>
								{{comment.user.email}}
							</div>
							<div>
								{{comment.privacy}}
							</div>
						</div>
					</div>

				</li>
			{% endfor %}
		</ul>
		<div class="home-pagination">
			{{ knp_pagination_render(comments) }}
		</div>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		<script>
			function actionFormCheckBox(action, url) {
$('#formCheckbox').attr('action', url);
$('#formCheckbox').submit();
}
		</script>
	{% endblock %}
