{% extends 'user_dashboard/templateUser.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	{{ parent() }}
	{% include '_form.html.twig' with {'button_label': 'Modifier', 'form_title': 'Informations personnelles'} %}


{% endblock %}
