/* BUTTONS */

.btn.btn-projectTextColor {
    color: #3f6ad8;
    font-weight: bold;
}

.btn.btn-projectTextColor:hover {
    color: #3f6ad8;
}

.btn.btn-projectBackgroundColor {
    background-color: #3f6ad8;
    color: white;
}

.btn.btn-projectBackgroundColor:hover {
    background-color: #2f65f0;
}

.btn-link--white {
    font-weight: bold;
    color: white !important;
}

.btn.btn--noRadius {
    border-radius: 0 !important;
}
