<div class="article-container card">
	<div class="article-header">
		<div>
			<div class="text-muted">
				{{article.user.firstName}}
				{{article.user.lastName}}
			</div>
			<div class="text-muted">
				{{article.creationDate | date}}
			</div>
			<div class="text-muted">
				Temps de lecture :
				{{article.readingTime}}
				min
			</div>
			<div class="text-muted">
				#
				{{article.category}}
			</div>
			<div class="text-muted">
				{{ article.comments|length }}
				commentaires
			</div>
		</div>
	</div>

	<h2 class="article-subtitle">{{article.title}}</h2>

	<img src="{{ article.picture }}" class="card-img-top" alt="...">

	<div class="card-body">
		<p class="card-text"></p>
		{{article.content|slice(0, 50) ~ '…'}}
		<a href="{{ path('article', { 'id': article.id }) }}" class="btn btn-link btn-projectTextColor">Voir plus</a>

		{% for comment in article.comments %}
			<div class="mb-5">
				{% include '_article.html.twig' with {'comment': comment} %}
			</div>
		{% endfor %}
	</p>
</div></div>
