<div class="article-container article-container--admin card">

	<div class="card-content">
		<div class="article-header--admin-img">
			<img src="{{ article.picture }}" class="card-img-top" alt="...">
		</div>
		<div class="article-header--admin ml-3">
			<h2 class="article-subtitle">{{article.title}}</h2>
			<div>
				<p>{{article.content|slice(0, 30) ~ '…'}}</p>
			</div>
			<div class="">
				<span>
					Auteur :</span>
				{{article.user.firstName}}
				{{article.user.lastName}}
			</div>
			<div class="">
				<span>
					Date :</span>
				{{article.creationDate | date}}
			</div>
			<div class="">
				<span>
					Temps de lecture :</span>
				{{article.readingTime}}
			</div>
			<div>
				<span>
					Catégorie :</span>
				{{article.category}}
			</div>

			{% if sharedDate is defined %}
				<div>
					<span>
						Partagé le :</span>
					{{sharedDate | date}}
				</div>
			{% endif %}

			{% if bookmarkDate is defined %}
				<div>
					<span>
						Ajouté en favoris le :</span>
					{{bookmarkDate | date}}
				</div>
			{% endif %}
			<div>
				<a href="{{ path('article', { 'id': article.id }) }}" class="btn btn-link btn-projectTextColor">Voir plus</a>
			</div>

			{% if forAdmin is defined %}
				<div class="">
					<a href="{{ path('admin_edit_article', { 'id': article.id }) }}" class="btn btn-primary">Modifier</a>
					<a href="{{ path('admin_edit_article', { 'id': article.id }) }}" class="btn btn-danger">Supprimer</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
