<div class="article-commentaire">
	<div class="article-commentaire_text">
		{{ comment.content }}
	</div>
	<div class="article-commentaire_info">
		<div class="text-muted">
			{{ comment.user.firstName }}
		</div>
		<div class="text-muted">
			{{ comment.user.email }}
		</div>
		<div class="text-muted">
			{{ comment.creationDate | date }}
		</div>
	</div>
</div>
