{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link
			rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
			{# <link rel="stylesheet" href="{{ asset('styles/bootstrap/bootstrap.min.css') }}"> #}
			<link rel="stylesheet" href="{{ asset('styles/components/article.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/components/article_admin.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/components/comments_admin.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/components/footer.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/components/commentaire.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/components/article_recent.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/pages/homepage.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/pages/login.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/components/dashboard_menu.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/global.css') }}">
		{% endblock %}
	</head>
	<header>
		{% include "navbar.html.twig" %}
	</header>
	<body>
		<div class="homepage-container">
			<div class="homepage-contentWrap">
				<div class="container mt-5">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}

					{% for message in app.flashes('notice') %}
						<div class="flash-notice">
							{{ message }}
						</div>
					{% endfor %}

					{% block body %}
						<h1>
							{{ block('title') }}
						</h1>
					{% endblock %}
				</div>

				{% block javascripts %}
					<script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
					<script src="{{ asset('js/popper.min.js') }}"></script>
					<script src="{{ asset('js/bootstrap.min.js') }}"></script>
				{% endblock %}
			</div>

			<footer class="blog-footer">
				<span>
					<a class="btn btn-link btn-projectTextColor" href="#">Back to top</a>
				</span>
			</footer>
		</div>
	</body>

</html>
