{% extends 'base.html.twig' %}
{% block title %}
	Article
{% endblock %}

{% block body %}
	<div class="searchBar-container">
		<form action="{{ path('filter') }}">
			<select name="filter" id="filter">
				<option value="news">Récent -> Ancien</option>
				<option value="old">Ancien -> Récent</option>
				<option value="a-z">A-Z</option>
				<option value="z-a">Z-A</option>
			</select>
			<button class="btn btn-projectBackgroundColor btn--noRadius">Filtrer</button>
		</form>
	</div>
	{% for article in articleSearched %}
		<div class="article-container card">
			<div class="article-header">
				<div>
					<div class="text-muted">
						{{article.user.firstName}}
						{{article.user.lastName}}
					</div>
					<div class="text-muted">
						{{article.creationDate | date}}
					</div>
					<div class="text-muted">
						{{article.readingTime}}
					</div>
					<div>
						Catégorie :
						{{article.category}}
					</div>
				</div>
			</div>

			<h2 class="article-subtitle">{{article.title}}</h2>
			<h5 class="article-subtitle">{{article.subTitle}}</h5>


			<img src="{{ article.picture }}" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">{{article.content}}

				</p>
			</div>

		</div>
	{% endfor %}
{% endblock %}
