<div class="articleRecent-container">

	<div class="articleRecent-header">
		<div>
			<span class="h2">Articles récents</span>
		</div>
		<div>
			<button class="btn btn-link btn-link--white">Voir tout</button>
		</div>
	</div>

	<div class="articleRecent_articles">
		<div>
			<div>
				<img src="{{ article.picture }}" class="card-img-top" alt="...">
			</div>
			<div class="articleRecent_articles-text">
				<h4 class="article-subtitle">{{article.subtitle}}</h4>
				<div class="">
					{{article.content |slice(0, 50) ~ '…'}}
				</div>
				<a href="{{ path('article', { 'id': article.id }) }}" class="btn btn-primary">Lire</a>
			</div>
		</div>
	</div>
</div>
