{% extends 'base.html.twig' %}

{% block title %}Me Contacter
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<a class="btn btn-link btn-projectTextColor" href="{{ path('homepage') }}">Retour sur tous les articles</a>
	{{ parent() }}
	<div id="contactForm" class="mt-5 mb-5">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% if not form.vars.valid %}
			<div class="alert alert-danger">
				Attention des données ne respectent pas le format
			</div>
		{% endif %}

		{{ form_start(form) }}
		<div class="row">
			<div class="col">{{ form_row(form.lastname, { 'label' : 'Nom' }) }}</div>
			<div class="col">{{ form_row(form.firstname, { 'label' : 'Prénom' }) }}</div>
		</div>
		<div class="row">
			<div class="col">{{ form_row(form.phone, { 'label' : 'Téléphone' }) }}</div>
			<div class="col">{{ form_row(form.mail, { 'label' : 'Email' }) }}</div>
		</div>
		{{ form_rest(form) }}
		<div class="form-group">
			<button class="btn btn-projectBackgroundColor">Envoyer</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
