{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div></div>
	<div class="searchBar-container">
		<form action="{{ path('filter') }}">
			<select name="filter" id="filter">
				<option value="news">+ Ancien</option>
				<option value="old">+ Recent</option>
				<option value="a-z">A-Z</option>
				<option value="z-a">Z-A</option>
				<option value="authorUp">Auteur ↑</option>
				<option value="authorDown">Auteur ↓</option>
			</select>
			<button class="btn btn-projectBackgroundColor btn--noRadius">Filtrer</button>
		</form>
	</div>

	{% for article in datas %}
		<div class="mb-5">
			{% include '_article.html.twig' with {'article': article} %}
		</div>
	{% endfor %}

	<div class="home-pagination">
		{{ knp_pagination_render(datas) }}
	</div>
{% endblock %}
