{% extends 'base.html.twig' %}

{% block title %}
	Article
{% endblock %}
{% block body %}
	<a class="btn btn-link btn-projectTextColor mb-2" href="{{ path('homepage') }}">Retour sur tous les articles</a>
	<div class="article-container card">
		<div class="article-header">
			<div>
				<div class="text-muted">
					{{article.user.firstName}}
					{{article.user.lastName}}
				</div>
				<div class="text-muted">
					{{article.creationDate | date}}
				</div>
				<div class="text-muted">
					{{article.readingTime}}min
				</div>
				<div>
					#
					{{article.category}}
				</div>
			</div>
		</div>

		<h2 class="article-subtitle">{{article.title}}</h2>
		<h5 class="article-subtitle">{{article.subTitle}}</h5>

		<img src="{{ article.picture }}" class="card-img-top" alt="...">

		<div class="card-body">
			<p class="card-text">{{article.content}}
			</p>
		</div>
	</div>
	<div class="article-container card">
		<div class="article-write-comment card-body">
			{% for message in app.flashes('notice') %}
				<div class="flash-notice">
					{{ message }}
				</div>
			{% endfor %}

			{# {% include '_form.html.twig' with {'form_title': 'Créer un commentaire', 'button_label': 'Valider'} %} #}

			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<h3>Ecrire une commentaire</h3>
				<div>
					<form method="post">
						<textarea class="form-control" placeholder="Ecrivez un commentaire" style="width: 100%;"></textarea>
						<input hidden name="article" value⁼ "{{article.id}}">
						<input hidden name="user" value⁼ "{{app.user.id}}">
						<button class="btn" style="float:right;" type="submit">Soumettre</button>
					</form>
					<small class="form-text text-muted">En soumettant votre commentaire il restera en attente d'approbation de l'administrateur.</small>
				</div>
			{% else %}
				<p>Inscrivez vous ou connectez vous pour écrire un commentaire</p>
			{% endif %}
		</div>
	</div>


	{% for comment in comments %}
		<div class="mb-1">
			{% include '_comment.html.twig' with {'comment': comment} %}
		</div>
	{% endfor %}

	<div class="home-pagination">
		{{ knp_pagination_render(comments) }}
	</div>

	{# {% include 'public/comment.html.twig' %} #}
	{% include 'public/articleRecent.html.twig' %}


{% endblock %}
