.article-container {
    margin-bottom: 5%;
    box-shadow: 0px 0px 20px 0px darkgrey;
}

/* HEADER ARTICLE */

.article-header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.article-header > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* ARTICLE CONTENT */

.article-subtitle {
    margin: 2%;
    color: #3f6ad8;
}

/* ARTICLE SOCIAL MEDIA & SHARE */

.article-socialMed {
    display: flex;
    justify-content: space-between;
}

.article-socialMed > div {
    padding: 0 1.25rem;
}

.article-socialMed > div > div {
    padding-bottom: 1.25rem;
}

.article-socialMed > div:last-child {
    text-align: end;
}

.article-tags {
    font-weight: bold;
    color: #3f6ad8;
    text-decoration: underline;
    max-width: 250px;
}

.article-tags:hover {
    cursor: pointer;
}

.artcile--write-comment {
}
