.articleRecent-container {
    display: flex;
    justify-content: space-between;
    background-color: #3f6ad8;
    flex-direction: column;
    width: 100%;
}

.articleRecent_articles {
    display: flex;
}

.articleRecent_articles > div {
    display: flex;
    width: 25%;
    margin: 1%;
    background-color: white;
    padding: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.articleRecent_text {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    align-items: center;
}

.articleRecent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: white;
}
